{% extends 'main/base_layout.html' %}


{% block main-content %}
 <h1> Welcome to book details </h1>
 <table class="table">
    <thead>
        <tr>
            <td> ID </td>
            <td> Name </td>
            <td> Priority </td>
            <td> Description </td>
        </tr>
    </thead>
    <tbody>

     
            <td>{{ book_id }} </td>
            <td>{{ book_name }} </td>
            <td> {{ book_price }}</td>
            <td> {{ book_description | truncatewords:3 | title }} </td>
        </tr>
    </tbody>

 </table>

{% endblock %}




<a href="{% url 'bookstore:index' %}"> Back to Index</a>
<a href="{% url 'bookstore:bookstore-list' %}"> Back to List</a>