{% extends 'main/base_layout.html' %}


{% block main-content %}
 <h1 class="text-center mt-3"> Welcome to book details </h1>
 <table class="table table-striped mx-auto w-50 mt-5">
    <thead>
        <tr>
            <td> ID </td>
            <td> Name </td>
            <td> Priority </td>
            <td> Description </td>
        </tr>
    </thead>
    <tbody>

     
            <td>{{ book.id }} </td>
            <td>{{ book.name }} </td>
            <td> {{ book.description }}</td>
            <td> {{ book.author_name }} </td>
        </tr>
    </tbody>

 </table>

{% endblock %}




<a href="{% url 'bookstore:index' %}"> Back to Index</a>
<a href="{% url 'bookstore:bookstore-list' %}"> Back to List</a>